<form action='/chair' method='post'>
  <label for='name'>name</label>
    <input type='text' name='name' id='name'/>
  <label for='description'>description</label>
    <input type='text' name='description' id='description'/>
    
  <input type='submit' id='Save' value='Save'>
</form>