<form action='/lamp' method='post'>
  
  <input type='text' name='lamp[colors][]' id='color_0'/>
  <input type='text' name='lamp[colors][]' id='color_1'/>
  <input type='text' name='lamp[colors][]' id='color_2'/>
  <input type='text' name='lamp[colors][]' id='color_3'/>

  <input type='submit' id='Save' value='Save'>

</form>