<form action='/table' method='post'>

  <label for='name'>name</label>
    <input type='text' name='table[name]' id='name'/>

  <label for='wood'>wood</label>
    <input type='text' name='table[wood]' id='wood'/>

  <label for='price'>price</label>
    <input type='text' name='table[price]' id='price'/>

  <input type='submit' id='Save' value='Save'>
</form>